@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.khatib-image {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: cover;
    border-radius: 100%;
}
